@model BankaRacun_EF.Models.Racun

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Racun</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NosilacRacuna)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NosilacRacuna)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BrojRacuna)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BrojRacuna)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Aktivan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aktivan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OnlineBanking)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OnlineBanking)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RacunId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
