@model IEnumerable<BankaRacun_EF.Models.Racun>

@{
    ViewBag.Title = "Index";
}

<h2>Lista racuna</h2>


<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BrojRacuna)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NosilacRacuna)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OnlineBanking)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Aktivan)
        </th>
        <th>@Html.DisplayNameFor(m => m.SaldoRacuna)</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {

        <tr style="background-color: @(item.Aktivan ? "green" : "red")">
            <td>
                @Html.DisplayFor(modelItem => item.BrojRacuna)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NosilacRacuna)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.OnlineBanking)*@
                @(item.OnlineBanking ? "Da" : "Ne")
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.Aktivan)*@
                @(item.Aktivan ? "Da" : "Ne")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SaldoRacuna)
                
            </td>
            <td>
                @Html.ActionLink("Otvori", "Details", new { id = item.RacunId }, new { style = "color: white" }) |
                @Html.ActionLink("Izmeni", "Edit", new { id = item.RacunId }, new { style = "color: white" }) |
                @Html.ActionLink("Obrisi", "Delete", new { id = item.RacunId }, new { style = "color: white" }) |

                @Html.ActionLink((item.Aktivan ? "Deaktiviraj" : "Aktiviraj"), "ToggleActiveStatus", new { id = item.RacunId }, new { style = "color: white" })
            </td>
        </tr>
    }

</table>
<!-- treba izmeniti, ne može uvek new Racun, šta ako input greške prođu sve do server side pa treba vratiti nazad na view popunjen Genre
    objekat. Znači verovatno pametnije da u Create Action-u strpam Genre objekat u ViewBag pa ga ovde castujem-->
@Html.Partial("Create", new BankaRacun_EF.Models.Racun())

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
